@charset "UTF-8";

@font-face {
  font-family: "Prosto_One";
  font-display: swap;
  src: url("../fonts/Prosto_One.woff") format("woff"), url("../fonts/Prosto_One.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.wrapper.active {
  opacity: 1;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  margin: 0 -15px;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#58b430), to(transparent));
  background: linear-gradient(to bottom, #58b430, transparent);
  border-radius: 8px;
  border: 3px solid #d4d4d4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #58b430;
}

@-webkit-keyframes show__header {
  0% {
    opacity: 0;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show__header {
  0% {
    opacity: 0;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.about__animation {
  -webkit-animation: about__animation 1.3s;
  animation: about__animation 1.3s;
}

@-webkit-keyframes about__animation {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes about__animation {
  0% {
    -webkit-transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  min-height: 70px;
  background-color: transparent;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header .header__inner .nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__inner .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.header .header__inner .header__list li {
  margin: 0px 5px;
}

.header .header__inner .header__list a {
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}

.header .header__inner .header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: uppercase;
  text-align: center;
}

.header .header__inner .header__logo span:first-child {
  color: #58b430;
}

.header .header__inner .header__logo span:last-child {
  color: #858585;
}

.header .header__inner .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}

.header .header__inner .nav__right-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #222222;
  -webkit-animation: show__header 1s;
          animation: show__header 1s;
}

.header__burger {
  display: none;
}

.footer {
  background-color: #212327;
  padding: 30px 0;
}

.footer .footer__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__inner .social__list {
  margin: 20px 0;
}

.footer .footer__inner .social__list li {
  opacity: 0;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .footer__inner .social__list li:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .footer__inner .social__list li a {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.footer .footer__inner .social__list .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.footer .footer__inner .copyright {
  font-size: 16px;
  color: #858585;
  line-height: 25px;
}

body {
  font-family: "Roboto";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.h__link {
  display: inline-block;
  font-size: 17px;
  font-family: "RobotoCondensed", cursive;
  padding: 5px;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link__green {
  display: inline-block;
  color: #fff;
  background-color: #58b430;
  padding: 13px 23px;
  font-size: 18px;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.intro {
  width: 100%;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__slider .slider__item {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.intro__slider .slider__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__slider .slider__item img,
.intro__slider .slider__item source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.intro__slider .slider__item .intro__slider-title {
  max-width: 900px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 62px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
  padding: 0 15px;
}

.intro__slider .slider__item .intro__slider-subtitle {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.3;
  padding: 0 10px;
}

.intro__slider .slider__item a {
  position: relative;
  z-index: 2;
  margin-right: 40px;
}

.intro__slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 999;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__slider .slick-dots li {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #fff;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.intro__slider .slick-dots li.slick-active button {
  background-color: #58b430;
  border: 1px solid #fff;
}

.cards .card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.cards .card__inner .card__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 50px -15px;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: all 0.7s ease-out 0.2s;
  -o-transition: all 0.7s ease-out 0.2s;
  transition: all 0.7s ease-out 0.2s;
}

.cards .card__inner .card__item .card__icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
          box-shadow: 0px 0px 20px 0px #000;
  margin: 10px 0 18px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards .card__inner .card__item .card__icon i {
  font-size: 35px;
  line-height: 100px;
  color: #858585;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards .card__inner .card__item .card__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card__inner .card__item .card__wrap .card__title {
  display: block;
  max-width: 250px;
  color: #000;
  font-size: 22px;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  padding: 0 0 10px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards .card__inner .card__item .card__wrap .card__title:after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #222;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards .card__inner .card__item .card__wrap .card__text {
  max-width: 300px;
  font-size: 16px;
  text-align: center;
}

.cards .card__inner .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.counter .counter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.counter .counter__inner .counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 60px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.counter .counter__inner .counter__item .counter__numbers {
  font-size: 40px;
  line-height: 60px;
  padding: 0 10px;
  margin: 0 auto;
}

.counter .counter__inner .counter__item .counter__name {
  font-size: 25px;
  padding: 0 10px;
}

.counter .counter__inner .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.item__first {
  background-color: #58b430;
}

.item__second {
  background-color: #69bc45;
}

.item__third {
  background-color: #79c36c;
}

.item__third .counter__numbers::after {
  content: "k";
  display: inline-block;
  font-size: 30px;
  margin-left: 3px;
}

.item__four {
  background-color: #8acb70;
}

.about {
  width: 100%;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  text-align: center;
  min-height: 700px;
  background-color: #f6f6f5;
  overflow: hidden;
}

.about .about__content .about__suptitle {
  font-size: 25px;
  line-height: 25px;
  opacity: 0;
  -webkit-transition: all 1s ease-out 0.2s;
  -o-transition: all 1s ease-out 0.2s;
  transition: all 1s ease-out 0.2s;
  font-family: "Roboto", sans-serif;
}

.about .about__content .about__title {
  max-width: 75%;
  font-size: 42px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
  opacity: 0;
  line-height: 72px;
  max-width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.about .about__content .about__text {
  max-width: 90%;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.about .about__content a {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  -webkit-transition: opacity 1s ease-out, background 0.3s ease, color 0.3s ease, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, background 0.3s ease, color 0.3s ease, -webkit-transform 1s ease-out;
  -o-transition: transform 1s ease-out, opacity 1s ease-out, background 0.3s ease, color 0.3s ease;
  transition: transform 1s ease-out, opacity 1s ease-out, background 0.3s ease, color 0.3s ease;
  transition: transform 1s ease-out, opacity 1s ease-out, background 0.3s ease, color 0.3s ease, -webkit-transform 1s ease-out;
}

.about .about__content .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.about .about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 50%;
  height: auto;
  position: relative;
}

.about .about__image:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.about .about__image:after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
}

.about .about__image img,
.about .about__image source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.team {
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
}

.team .team__suptitle {
  margin-top: 50px;
  margin: 0 auto;
  font-size: 20px;
  max-width: 700px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.team .team__title {
  max-width: 800px;
  margin: 10px auto;
  font-size: 42px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(150px, 0, 0);
          transform: translate3d(150px, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.team .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.team__slider {
  position: relative;
  z-index: 1;
}

.team__slider .team__item {
  min-height: 400px;
  max-width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.team__slider .team__item .team__iitem-photo-wrap {
  height: 400px;
  overflow: hidden;
}

.team__slider .team__item .team__photo {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team__slider .team__item .team__photo img,
.team__slider .team__item .team__photo source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.team__slider .team__item .team__name {
  padding: 10px 20px;
  font-size: 22px;
  font-family: "Fira Sans", sans-serif;
  color: #58b430;
  text-transform: uppercase;
}

.team__slider .team__item .team__prof {
  padding: 0 15px;
}

.team__slider .slick-arrow {
  position: absolute;
  bottom: 45%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 60px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.team__slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/svg/back.svg) 0 0 no-repeat;
}

.team__slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/svg/next.svg) 0 0 no-repeat;
}

.reviews {
  padding: 50px 0 20px 0;
  width: 100%;
  min-height: 300px;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  background-attachment: fixed;
}

.reviews:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.reviews img,
.reviews source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

.reviews .reviews__suptitle {
  font-size: 22px;
  max-width: 700px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  z-index: 3;
  padding: 0 10px;
}

.reviews .reviews__title {
  display: block;
  font-size: 52px;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.1;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: relative;
  z-index: 3;
  padding: 0 10px;
}

.reviews .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.reviews .reviews__slider {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 3;
}

.reviews .reviews__slider .reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin: 20px auto;
  width: 100%;
  min-height: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews .reviews__slider .reviews__item .reviews__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.reviews .reviews__slider .reviews__item .reviews__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "RobotoCondensed";
  font-size: 25px;
  line-height: 30px;
}

.reviews .reviews__slider .reviews__item .star {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.reviews .reviews__slider .reviews__item .star .star__img {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: gold;
}

.reviews .reviews__slider .slick-arrow {
  position: absolute;
  bottom: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 0;
  width: 40px;
  height: 40px;
}

.reviews .reviews__slider .slick-arrow.slick-prev {
  left: -30px;
  background: url(../img/svg/back-white.svg) 0 0 no-repeat;
}

.reviews .reviews__slider .slick-arrow.slick-next {
  right: -70px;
  background: url(../img/svg/next-white.svg) 0 0 no-repeat;
}

.training .training__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0px 0px 0px;
  text-align: center;
  overflow: hidden;
}

.training .training__content .training__suptitle {
  max-width: 60%;
  font-size: 25px;
  line-height: 25px;
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.training .training__content .training__title {
  max-width: 80%;
  font-size: 42px;
  font-family: "RobotoCondensed", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 15px 0;
  opacity: 0;
  -webkit-transform: translate3d(-150px, 0, 0);
          transform: translate3d(-150px, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.training .training__content .training__text {
  max-width: 90%;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  opacity: 0;
  -webkit-transform: translate3d(150px, 0, 0);
          transform: translate3d(150px, 0, 0);
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.training .training__content a {
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
  -webkit-transition: opacity 1s ease-out, background-color 0.3s ease, color 0.3s ease, -webkit-transform 1s ease-out;
  transition: opacity 1s ease-out, background-color 0.3s ease, color 0.3s ease, -webkit-transform 1s ease-out;
  -o-transition: transform 1s ease-out, opacity 1s ease-out, background-color 0.3s ease, color 0.3s ease;
  transition: transform 1s ease-out, opacity 1s ease-out, background-color 0.3s ease, color 0.3s ease;
  transition: transform 1s ease-out, opacity 1s ease-out, background-color 0.3s ease, color 0.3s ease, -webkit-transform 1s ease-out;
}

.training .training__content .anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.form {
  background-color: rgba(197, 245, 196, 0.63);
  padding: 20px;
  border-radius: 20px;
  margin: 0px 0px 40px 0px;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form .form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #58b430;
          box-shadow: 0 0 15px #58b430;
}

.form .form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.form textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.form .email-input {
  text-transform: lowercase;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__item {
  margin: 0px 0px 10px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #58b430;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8acb70;
  padding: 0px 20px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}

.file__preview img {
  max-width: 100%;
}

.checkbox .checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.checkbox__input {
  display: none;
}

.checkbox .checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #58b430;
  border-radius: 4px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox__label a {
  color: #7a956b;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 25px;
  min-height: 50px;
  background-color: #58b430;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 #161b13;
          box-shadow: 0 5px 0 #161b13;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
          box-shadow: 0 2px 0 #161b13;
}

.anim-active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

@media (min-width: 992px) {
  .footer .footer__inner .social__list li:hover:after {
    background-color: #58b430;
  }

  .h__link:hover {
    color: #58b430;
  }

  .h__link:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #58b430;
    position: absolute;
    bottom: -5px;
    left: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .h__link:hover:after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .link__green:hover {
    background-color: transparent;
    color: #58b430;
    border-color: #58b430;
  }

  .cards .card__inner .card__item#card__second {
    -webkit-transition: all 0.7s ease-out 0.3s;
    -o-transition: all 0.7s ease-out 0.3s;
    transition: all 0.7s ease-out 0.3s;
  }

  .cards .card__inner .card__item#card__third {
    -webkit-transition: all 0.7s ease-out 0.4s;
    -o-transition: all 0.7s ease-out 0.4s;
    transition: all 0.7s ease-out 0.4s;
  }

  .cards .card__inner .card__item:hover .card__icon {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .cards .card__inner .card__item:hover .card__icon i {
    color: #58b430;
  }

  .cards .card__inner .card__item:hover .card__title {
    color: #58b430;
  }

  .cards .card__inner .card__item:hover .card__title:after {
    background-color: #58b430;
  }

  .about .about__image:hover:before {
    -webkit-animation: about__animation 1.3s both;
            animation: about__animation 1.3s both;
    -webkit-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    transition: all 1.3s ease-in-out;
  }

  .about .about__image:hover:after {
    -webkit-animation: about__animation 1.3s both;
            animation: about__animation 1.3s both;
    -webkit-transition: all 1.3s ease-in-out;
    -o-transition: all 1.3s ease-in-out;
    transition: all 1.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .form__button:hover {
    background-color: #69bc45;
  }
}

@media (min-width: 1400px) {
  .team:hover .slick-arrow {
    opacity: 1;
  }

  .team:hover .slick-arrow.slick-prev {
    left: -100px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .team:hover .slick-arrow.slick-next {
    right: -100px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .team__slider .team__item:hover .team__photo {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 1400px) {
  .team__slider .team__item {
    margin-bottom: 50px;
  }

  .team__slider .slick-arrow {
    bottom: -7%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  .team__slider .slick-arrow.slick-prev {
    left: 40%;
  }

  .team__slider .slick-arrow.slick-next {
    right: 40%;
  }
}

@media (max-width: 1300px) {
  .reviews .reviews__slider .slick-arrow {
    bottom: 30px;
  }

  .reviews .reviews__slider .slick-arrow.slick-prev {
    left: 0;
  }

  .reviews .reviews__slider .slick-arrow.slick-next {
    right: -35px;
  }
}

@media (max-width: 1245px) {
  .reviews .reviews__slider .slick-arrow.slick-prev {
    left: 33%;
  }

  .reviews .reviews__slider .slick-arrow.slick-next {
    right: 28%;
  }
}

@media (max-width: 1230px) {
  .counter .counter__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .counter .counter__inner .counter__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 20px 0;
  }
}

@media (max-width: 992px) {
  .header .header__inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }

  .header .header__inner .header__logo {
    margin-top: -7px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    top: 23px;
    left: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .nav__left {
    position: fixed;
    top: -160%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    padding: 125px 0 20px 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .nav__left.active {
    top: 0;
    z-index: 1;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list li {
    display: block;
    text-align: center;
    padding: 20px 0;
  }

  .header__list li a {
    font-size: 25px;
    text-decoration: underline;
    -webkit-text-decoration-color: #fff;
            text-decoration-color: #fff;
  }

  .header__link {
    font-size: 24px;
  }

  .cards .card__inner .card__item {
    margin: 30px -15px;
  }

  .about .about__content {
    padding: 10px 0;
    min-height: 500px;
  }

  .about .about__content .about__title {
    line-height: 1;
    margin: 0 auto;
    font-size: 37px;
    padding: 10px;
  }
}

@media (max-width: 992px) and (max-height: 550px) {
  .nav__left {
    padding: 300px 0 20px 10px;
  }
}

@media (max-width: 930px) {
  .intro__slider .slick-dots {
    top: 97%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
    -webkit-transform: translate(50%, -100%);
        -ms-transform: translate(50%, -100%);
            transform: translate(50%, -100%);
  }

  .intro__slider .slick-dots li {
    top: 100%;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  .reviews .reviews__slider .slick-arrow.slick-prev {
    left: 20%;
  }

  .reviews .reviews__slider .slick-arrow.slick-next {
    right: 13%;
  }
}

@media (max-width: 768px) {
  .intro__slider .slider__item .intro__slider-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .intro__slider .slider__item .intro__slider-subtitle {
    font-size: 16px;
  }

  .intro__slider .slider__item a {
    margin-right: 0;
  }

  .cards .card__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cards .card__inner .card__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 5px 0px;
  }

  .cards .card__inner .card__item .card__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    margin: 10px 0 18px 10px;
  }

  .cards .card__inner .card__item .card__wrap .card__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10px 10px 10px;
  }

  .cards .card__inner .card__item .card__wrap .card__title:after {
    width: 90%;
  }

  .cards .card__inner .card__item .card__wrap .card__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }

  .about .about__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: auto;
    padding: 25px 0;
  }

  .about .about__image {
    display: none;
  }

  .training .training__content {
    padding: 30px 0;
  }

  .training .training__content .training__suptitle {
    max-width: 80%;
  }

  .training .training__content .training__title {
    max-width: 95%;
    margin: 5px 0;
    line-height: 1.1;
  }

  .training .training__content .training__text {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .intro__slider .slider__item .intro__slider-title {
    line-height: 1;
  }
}

@media (max-width: 550px) {
  .team {
    padding: 20px 0 50px 0;
  }
}

@media (max-width: 535px) {
  .header {
    min-height: 65px;
  }

  .header .header__inner .header__logo span:first-child {
    font-size: 40px;
  }

  .header .header__inner .header__logo span:last-child {
    font-size: 40px;
  }

  .intro__slider .slider__item .intro__slider-subtitle {
    margin-bottom: 15px;
  }

  .team__slider .slick-arrow.slick-prev {
    left: 20%;
  }

  .team__slider .slick-arrow.slick-next {
    right: 20%;
  }

  .reviews .reviews__slider .slick-arrow.slick-prev {
    left: 15%;
  }

  .reviews .reviews__slider .slick-arrow.slick-next {
    right: 5%;
  }

  .training .training__content .training__suptitle {
    font-size: 18px;
  }

  .training .training__content .training__title {
    font-size: 35px;
  }

  .training .training__content .training__text {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .counter .counter__inner .counter__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .reviews {
    padding: 20px 0 0 0;
  }

  .reviews .reviews__title {
    line-height: 1;
  }
}

@media (max-width: 435px) {
  .reviews .reviews__slider .slick-arrow.slick-prev {
    left: 38%;
  }

  .reviews .reviews__slider .slick-arrow.slick-next {
    right: 25%;
  }
}

@media (max-width: 415px) {
  .cards .card__inner .card__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px -15px;
  }
}

@media (max-width: 400px) {
  .footer {
    padding: 15px 0;
  }

  .footer .footer__inner .social__list {
    margin: 10px 0;
  }

  .footer .footer__inner .social__list li {
    margin: 0 2px;
  }

  .training .training__content {
    padding: 15px 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapper {
    opacity: 1;
  }

  .reviews .reviews__slider .reviews__item {
    display: block;
  }
}